.navbar>.container{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
}

.topnav{
    margin-top: 12px;
}

#menulist{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#sociallist{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 10px 0 10px;
}

nav ul li a{
    text-decoration: none;
    border: solid;
    border-radius: 5px;
    padding: 3px;
    line-height: 16px;
    font-size: 16px;
    color: black;
}

nav ul li a:hover{
    color: aquamarine;
}


.card{
    margin: auto;
}

.card-head{
    overflow: hidden;
}

.card-img-top{
    transform: scale(1);
    transition: transform 0.4s ease;
}

.card-img-top:hover{
    transform: scale(1.1);
}

.description{
    width: 45%;
    margin: 0 auto;
    font-size: 19px;
}

.shaneresume{
    display: block;
    margin: 0 auto;
}

.footericons{
    margin: 0 10px;
}

.footercontainer{
    display: grid;
    width: 100%;
    height: auto;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.links{
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto 0;
    align-items: center;
}

.contactsinfos{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto 0;
}

.links ul li a{
    text-decoration: none;
    border: solid;
    border-radius: 5px;
    line-height: 16px;
    font-size: 15px;
    color: black;
}

.links ul li a:hover{
    color: aquamarine;
}

.footerobj{
    margin-left: 90px;
}

.emailform{
    text-align: center;
}