.mazecontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    width: 70%;
    margin: 0 auto 0 0;
    height: auto;
}
#mazeinputbox{
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 1rem;
}

#mazeresult{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 1rem;
}